<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><a routerLink="/home"> Local palette</a> </span>
     
      <span class="example-spacer">
        <!-- <span class="form-inline">
          <select class="form-control" #selectedLang (change)="translate.switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
            </option>
          </select>
          </span> -->

      </span>
      <div fxShow="true" fxHide.lt-md="true">

       
        <a routerLink="/home" mat-button>{{'Home' | translate}}</a>
        <a routerLink="/kategori" mat-button>{{'Category' | translate}}</a>
        <a href="#" mat-button>{{'Gallery' | translate}}</a>

        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/kategori" mat-button>Kategori</a>
        <a href="#" mat-button>Gallery</a>

        <a href="#" mat-button>Testimonals</a>
        <a href="#" mat-button>{{'Contact Us' |translate}}</a>
        
        <a href="#" mat-button>
           <mat-icon>search</mat-icon>
        </a>
      
        
          <a  *ngIf="auth.isLoggedIn;" routerLink ="/brukerDash" mat-button>  
            <mat-icon >person</mat-icon>
          </a>
       
       

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>Home</a>
        <a href="#" mat-list-item>Menu</a>
        <a href="#" mat-list-item>Gallery</a>
        <a href="#" mat-list-item>Testimonals</a>
        <a href="#" mat-list-item>Contact us </a>
        <a href="#" mat-button>
          <mat-icon>search</mat-icon>
        </a>

        <a routerLink="/login" mat-button>
          <mat-icon>person</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <section class="hero">
      </section>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
