<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><a routerLink="/home"> Local palette</a> </span>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">

        <a routerLink="/home" mat-button>{{'Home' | translate}}</a>
        <a routerLink="/kategori" mat-button>{{'Category' | translate}}</a>
        <a routerLink="/registrering" mat-button>{{'Register' | translate}}</a>
        <a href="#" mat-button>{{'Gallery' | translate}}</a>

        <a href="#" mat-button>Testimonals</a>
        <a href="#" mat-button>{{'Contact Us' |translate}}</a>

        <a href="#" mat-button>
           <mat-icon>search</mat-icon>
        </a>
          <a  *ngIf="auth.userData as user" routerLink ="/brukerDash" mat-button>
            <mat-icon >person</mat-icon>
          </a>
            </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>Home</a>
        <a href="#" mat-list-item>Menu</a>
        <a href="#" mat-list-item>Gallery</a>
        <a href="#" mat-list-item>Testimonals</a>
        <a href="#" mat-list-item>Contact us </a>
        <a href="#" mat-button>
          <mat-icon>search</mat-icon>
        </a>

        <a routerLink="/login" mat-button>
          <mat-icon>person</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
