* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
