<div class="content">
  <div class="content-header">
    <h1>RESTAURANT 1</h1>
   <p-rating ngModel="val" readonly="true" stars="5"></p-rating>
    <div class="headerInfo">
        <mat-icon>rate_review</mat-icon>
        <h3>100 reviews</h3>
        <mat-icon>location_on</mat-icon>
        <h3>Restaurantens adresse</h3>
        <mat-icon>phone</mat-icon>
        <h3>418 24 012</h3>
        <mat-icon>access_time</mat-icon>
        <h3>Åpningstid: 13:00 - 23:00</h3>
      <div class="save">
        <mat-icon>favorite_border</mat-icon>
        <h3>Save</h3>
      </div>
    </div>
  </div>
</div>
