<div class="content">
  <div class="content-header">
    <h1>{{bedriftnavn}}</h1>
    <app-bruker-rating></app-bruker-rating>
    <div class="headerInfo">
      <div class="meta-content">
        <mat-icon>location_on</mat-icon>
        <h3>{{adresse}}</h3>
        <mat-icon>phone</mat-icon>
        <h3>{{mobilnummer}}</h3>
        <mat-icon>access_time</mat-icon>
        <h3>Åpningstider Hverdag: {{apningstidHverdag}}</h3>
      </div>
    </div>
  </div>

  <div class="images">
    <img src="./assets/images/restaurant.jpg" alt="Testbilde">

  </div>
  <!--<div class="res-name">
    <h1 id="image-text">{{name}}</h1>
  </div>-->



  <div class="content-main">
    <div class="content-text">
      <h3>
        Om oss
      </h3>
      <p>
        {{omOss}}
      </p>
      <!--<button class="location">Hvor er du?</button>-->
    </div>
    <div id="map"></div>

  </div>
</div>
