
.content {

  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, #d2a056, #e2cc83);
  padding: 4vh;

  .content-header {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 50px;
    }

    app-bruker-rating {
      margin-top: 2vh;
      padding: 1vh;
      width: 22%;
      border: 3px solid #eb5e4c;
    }

    .headerInfo {
      display: flex;
      flex-direction: row;
      width: 95vw;
      margin-top: 5vh;

      .meta-content {
        width: 70%;
        display: flex;
        flex-direction: row;
        border-bottom: 1vh solid #eb5e4c;
      }

      h3 {
        padding-right: 7%;
        padding-left: 2%;
      }

    }
  }

  .images {
    display: flex;
    justify-content: center;
    margin-top: 5vh;

    img {
      width: 70%;
    }
  }


  .content-main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    width: 100%;

    .content-text {
      display: flex;
      flex-direction: column;
      flex: 2;
      height: 80vh;
      padding-right: 5vh;

      h3 {
        font-size: 30px;
        margin-bottom: 3vh;
      }

      p {
        font-size: 20px;
        line-height: 35px;
      }

    }

    #map {
      height: 50vh;
      display: flex;
      flex-direction: row;
      flex: 3;
      width: 20vh;
      margin-right: 5vh;

    }
  }
}

@media (max-width: 1024px) and (min-width: 764px) {
  .content {
    flex-direction: column;

    .content-header {
      flex-direction: column;

      app-bruker-rating {
        width: 27%;
      }

      .headerInfo {
        flex-direction: column;
        margin-top: 2vh;

        .meta-content {
          margin-top: 1vh;
          flex-direction: column;

          h3 {
            margin-left: -2%;
          }
        }
      }
    }

    .images {
      display: flex;
      justify-content: center;
      margin-top: 3vh;

      img {
        width: 93%;
        margin-right: 5vh;
      }
    }
  }
}

@media (max-width: 764px) and (min-width: 100px) {
  .content {
    flex-direction: column;

    .content-header {
      flex-direction: column;

      app-bruker-rating {
        width: 70%;
      }

      .headerInfo {
        flex-direction: column;
        margin-top: 3vh;

        .meta-content {
          flex-direction: column;

          h3 {
            margin-left: -2%
          }
        }
      }
    }

    .images {
      display: flex;
      justify-content: center;
      margin-top: 3vh;

      img {
        width: 89%;
        margin-right: 5vh;
      }
    }

    .content-main {
      display: flex;
      flex-direction: column;
      height: 80vh;

      #map {
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 90%;
      }
    }
  }
}
