
.content {
  margin-top: 5vh;
  margin-left: 2vh;
  height: 140vh;
  display: flex;
  flex-direction: column;

  .content-header {
    display: flex;
    flex-direction: column;


    h1 {
      font-size: 50px;
    }

    .headerInfo {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 5vh;

      .meta-content {
        width: 100%;
        display: flex;
        flex: 15;
        flex-direction: row;
        justify-content: space-between;
      }

        h3 {
          padding-left: 15%;

        }

    }
  }

  .images {
    display: flex;
    justify-content: center;
    margin-top: 5vh;

    img {
      width: 70%;
    }
  }


  .content-main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    width: 100%;

    .content-text {
      display: flex;
      flex-direction: column;
      flex: 2;
      height: 80vh;
      padding-right: 5vh;

      h3 {
        font-size: 30px;
        margin-bottom: 3vh;
      }
      p {
        font-size: 20px;
        line-height: 35px;
      }

    }

    #map {
      height: 40vh;
      display: flex;
      flex-direction: row;
      flex: 3;
      margin-right: 5vh;
    }

    /*.map-frame {
      border: 2px solid black;
      height: 80%;*/

  }
}

@media (max-width: 1024px) and (min-width: 764px) {
  .content {
    height: 130vh;
    flex-direction: column;

    .content-header {
      flex-direction: column;

      .headerInfo {
        flex-direction: column;
        margin-top: 2vh;

        .meta-content {
          margin-top: 1vh;
          flex-direction: column;

          h3 {
            margin-left: -15%;
          }
        }
      }
    }
    .images {
      display: flex;
      justify-content: center;
      margin-top: 3vh;

      img {
        width: 93%;
        margin-right: 5vh;
      }
    }
  }
}

@media (max-width: 764px) and (min-width: 100px) {
  .content {
    height: 140vh;
    flex-direction: column;

    .content-header {
      flex-direction: column;

      .headerInfo {
        flex-direction: column;
        margin-top: 4vh;

        .meta-content {
          margin-top: 1vh;
          flex-direction: column;

          h3 {
            margin-left: -15%
          }
        }
      }
    }

    .images {
      display: flex;
      justify-content: center;
      margin-top: 3vh;

      img {
        width: 89%;
        margin-right: 5vh;
      }
    }
    .content-main {
      display: flex;
      flex-direction: column;
      height: 80vh;

      #map {
        display: flex;
        flex-direction: column;
        height: 40vh;

      }
    }
  }
}
