@charset "utf-8";
//Bulma variables
// Set your brand colors
@import "node_modules/bulma/sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$localpalette-primary: mat-palette(#A80E0E);
$localpalette-accent: mat-palette(#FFAA00, A200, A100, A400);

// The warn palette is optional (defaults to red).
$localpalette-warn: mat-palette(#454545);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$localpalette-theme: mat-light-theme((
  color: (
    primary: $localpalette-primary,
    accent: $localpalette-accent,
    warn: $localpalette-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($localpalette-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
