<!--Author: Kim Andre-->
<div class="content-container">
  <div class="flex-top-del-container">
    <div class="top-del">
      <div class="background-image">
        <h1 class="tittel">kategorier</h1>

      </div>

    </div>
  </div>

  <div class="container-wrapper">
    <div class="container" *ngFor="let kategori of kategoriTab">

      <div [routerLink]="['/kategori', kategori.id]" class="kategori-container">
        <h3 class="kategori-tittel">{{kategori.data.kategori}}</h3>
      </div>


    </div>
  </div>
</div>

<router-outlet></router-outlet>
