*:focus {
  outline: 0;
}

.content-container {
  min-width:100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #BA7453, #D1A984) no-repeat center;

  .flex-top-del-container {
    display: flex;

    .top-del {
      justify-content: center;
      align-items: center;
      margin-top: 3%;
      background-size: cover;
      height: 350px;
      width: 100%;

      .background-image {
        background-image: linear-gradient(to left, #BA7453, #D1A984),

        url("https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQX8uzcyIBC6TFOmtHLtdOR1kO0jqyEdV5wNN9LpDJKhAY6T8qWPpA7qS8yTnFCf0GQG6qlJ3lC66DpF1FgOAc");
        background-size: cover;
        position: relative;
        height: 100%;

      }

      .tittel {
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: white;

      }
    }
  }

  .container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .container {

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 25%;

      .kategori-container {
        width: 750%;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        margin: 4px;
        color: beige;
        height: 250px;
        border-radius: 10px;
        background-size: cover;
        background-image: linear-gradient(rgba(255, 255, 255, 0),
          rgba(0, 0, 0, 0.5)),
        url("https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQX8uzcyIBC6TFOmtHLtdOR1kO0jqyEdV5wNN9LpDJKhAY6T8qWPpA7qS8yTnFCf0GQG6qlJ3lC66DpF1FgOAc");
        .kategori-tittel {
          padding: 25px 0 0 0;
          font-size: 35px;
          color:black;
        }
      }
    }
  }
}

