<!--Kim Andre-->
<div class="content-container">
  <div class="flex-top-del-container">
    <div class="top-del">
      <div class="background-image">
        <h1 class="tittel">Kategorier</h1>
      </div>

    </div>
  </div>

  <div class="container">
    <div routerLink="/infocards" class="kategori-container">
      <h3 class="kategori-tittel" >Restauranter</h3>
    </div>
    <div routerLink="/infocards"  class="kategori-container">
      <h3 class="kategori-tittel" >Restauranter</h3>

    </div>
    <div routerLink="/infocards" class="kategori-container">
      <h3 class="kategori-tittel">Restauranter</h3>

    </div>
    <div routerLink="/infocards" class="kategori-container">
      <h3 class="kategori-tittel" >Restauranter</h3>

    </div>
    <div routerLink="/infocards" class="kategori-container">
      <h3 class="kategori-tittel" >Restauranter</h3>
    </div>


  </div>
</div>
