*:focus {
  outline: 0;
}

.content-container {
  min-width:100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #2f3640;

  .flex-top-del-container {
    display: flex;

    .top-del {
      justify-content: center;
      align-items: center;
      margin-top: 3%;
      background-size: cover;
      height: 350px;
      width: 100%;

      .background-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
        url("https://miro.medium.com/max/2400/1*twXGppFcGdocFY7QdfUy3g.jpeg");
        background-size: cover;
        position: relative;
        height: 100%;

      }

      .tittel {
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: white;
      }

      .search-field {
        margin-top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(226, 226, 266);
        height: 40px;
        border-radius: 10px;
        justify-content: center;
        position: absolute;
        align-items: center;

        .search__input {
          border: none;
          background: none;
          outline: none;
          float: left;
          padding: 0;
          color: #2f3640;
          font-size: 16px;
          transition: 0.4s;
          line-height: 40px;
          width: 300px;
        }

        input[type='text'] {
          font-size: 16px;
          font-family: Roboto, "Helvetica Neue", sans-serif;
          padding-left: 10px;
        }

        .search-btn {
          color: #e84118;
          float: right;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: rgb(226, 226, 266);
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }

  .container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .container {
      margin: 120px 0 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 33%;

      .kategori-container {
        width: 750%;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        margin: 4px;
        color: beige;
        height: 250px;
        border-radius: 10px;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
        url("https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        .kategori-tittel {
          padding: 25px 0 0 0;
          font-size: 35px;
          color: rgb(226, 226, 226);
        }
      }
    }
  }
}

