<div class="container">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">


      <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
        <form action="https://formspree.io/mjvjwwvo" method="POST">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="form-group">

                <label for="name">Name:</label>
                <input id="name" type="text" class="form-control" name="name" required minlength="4"/>


              </div>
            </div>


            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" type="email" required name="_replyto"/>


              </div>
            </div>


            <div class="col-sm-12 mb-3">
              <div class="form-group">
                <label class="required-field" for="message">hvordan kan vi hjelpe ? </label>
                <textarea class="form-control" id="message" name="message" rows="4"
                          placeholder="Hei, jeg vil gjerne ....."></textarea>
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <button value="Send" type="submit" name="submit">Send</button>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
