body{
  margin-top:20px;
  background:rgb(165, 6, 6);
}

.gradient-brand-color {

  background-image: -webkit-linear-gradient(0deg, #111724 0%, #000000 100%),url("../../../assets/images/person.png");
  background-image: -ms-linear-gradient(0deg, #0c101c 0%, #000000 100%);
  color:rgb(109, 20, 20);
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 .625rem .625rem 0;
    padding: 5rem !important
  }
}
.contact-info__list span.position-absolute {
  left: 0
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background: url("../../../assets/images/footer.png") no-repeat center;
  background-size: cover;

  background-color:#585036;
  color: white;
  border-radius: 0 0 .625rem .625rem
}
.col-sm-12 button{
  background-color: #A80E0E; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: .625rem 0 .625rem .625rem
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding: 5rem !important
  }
}
.shadow-lg, .shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
