<section id="contact">
    <div class="form-wrapper">
      <header class="form-head">
        <h2>{{'Contact us ' }}</h2>
      </header>
      <form action="https://formspree.io/mzbbyqbo" method="POST">
        <div class="name-form">
          <label for="name">{{'Name' }}</label>
          <input id="name" type="text" name="name" required minlength="4" />
        </div>
        <div class="email-form">
          <label for="email">{{"Email" }}</label>
          <input id="email" type="email" required name="_replyto" />
        </div>
        <div class="mesageform-form">
            <label for="email">{{"Message" }}</label>
            <textarea name="message"></textarea>
          </div>
        <button value="Send" type="submit">Submit</button>
      </form>
    </div>
  </section>