
.content {
  height: 100%;
  padding: 7vh;
  background-image: linear-gradient(to left, #d2a056, #e2cc83);
  display: flex;
  flex-direction: column;

  textarea {
    width: 200px;
    height: 200px;
  }

  > a {
    margin: 2vh 0 2vh 0;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
  }

  .stepper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    mat-vertical-stepper {
      height: 80vh;
    }

    img {
      height: 35%;
      margin-left: 15vh;
      width: auto;
    }
  }
}
