<div class="content">
  <h1>{{'Registrer bedrift' | translate}}</h1>
  <a routerLink="/kategori">{{'Gå tilbake' | translate}}</a>
  <div class="stepper">
    <mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{'Bedriftens navn' | translate}}</ng-template>
          <!-- <mat-form-field> -->
          <input matInput placeholder="{{'Bedriftens navn' | translate}}" formControlName="firstCtrl" required>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>{{'Bedriftens adresse' | translate}}</ng-template>
          <!-- <mat-form-field> -->
          <input matInput placeholder="{{'Adresse' | translate}}" formControlName="secondCtrl" required>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>{{'Mobilnummer' | translate}}</ng-template>
          <!-- <mat-form-field> -->
          <input matInput placeholder="Mobil" formControlName="thirdCtrl" required>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>{{'Åpningstider hverdager' | translate}}</ng-template>
          <!-- <mat-form-field> -->
          <input matInput placeholder="{{'Åpningstid' | translate}}" formControlName="fourthCtrl" required>
          <mat-hint>{{'Format: TT:MM - TT:MM' | translate}}</mat-hint>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
          <ng-template matStepLabel>{{'Åpningstider helger / helligdager' | translate}}</ng-template>
          <!-- <mat-form-field> -->
          <input matInput placeholder="Åpningstid" formControlName="fifthCtrl" required>


          <mat-hint>{{'Format: TT:MM - TT:MM' | translate}}</mat-hint>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sixthFormGroup">
        <div class="card-body">
          <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <ng-template matStepLabel>{{'Bilder' | translate}}</ng-template>
            <div class="text-center">
              <img [src]="imgsrc" width="100px" height="100px" (click)="fileUploader.click()">
            </div>
            <div class="form-group">
              <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
                     (change)="showPreview($event)">
              <div class="text-danger" *ngIf="submit && formControls.imageUrl.errors?.required">
              </div>
            </div>
            <div class="form-group">
              <select formControlName="category" class="form-control">
                <option *ngFor="let kat of kategoriTabell" value={{kat.id}}> {{kat.data.kategori}}</option>
              </select>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <button mat-button matStepperNext type="submit">Last opp</button>
              </div>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
          <ng-template matStepLabel>{{'Om oss' | translate}}</ng-template>
          <!-- <mat-form-field> -->
          <textarea [(ngModel)]="interaction.textValue" (ngModelChange)="onModelChange($event)"
                    [attr.maxlength]="counter ? maxNumberOfCharacters : ''" matInput placeholder="Om oss"
                    formControlName="seventhCtrl" required></textarea>
          <div class="">{{numberOfCharacters2}} / {{maxNumberOfCharacters}}</div>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <!-- Henter inn kategoriene som vises i en nedtrekksliste.
               Bedriften blir da lagt inn i den kategorien brukeren velger -->
          <ng-template matStepLabel>{{'Kategori' | translate}}</ng-template>
          <!-- <mat-form-field  formControlName="sixthCtrl" required> -->
          <mat-select [(value)]="selectedValue" placeholder="Velg kategori">
            <div class="" *ngFor="let kat of kategoriTabell">
              <mat-option value={{kat.id}} #katagoriid>{{kat.data.kategori}} </mat-option>
            </div>
          </mat-select>
          <!-- </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
            <button mat-button matStepperNext>{{'Neste' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'Ferdig' | translate}}</ng-template>
        {{'Registrering fullført!' | translate}}
        <div>
          <button mat-button matStepperPrevious>{{'Tilbake' | translate}}</button>
          <button mat-button (click)="lagreBedrift()">{{'Lagre' | translate}}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>


    <div class="picture-holder">
      <img src="./assets/images/restaurant.jpg" alt="Testbilde">
    </div>
  </div>
</div>
