.infocards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  app-infocards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
