<h1 class="display-4">register bruker eller </h1>

<div *ngIf="!(authenticationservise.userData | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="SignUp()">Sign Up</button>

    <button (click)="SignIn()">Login</button>
    <button (click)="Googleauth()">google auth</button>
    <button (click)="SignOut()" *ngIf="authenticationservise.userData | async">Logout</button>

</div>

