<!-- Markus Kim Andre-->
<div class="" >
  <div class="content">

    <div class="cards" *ngFor="let bedrift of bedrifter" >
      <mat-card class="restaurants">
        <mat-card-header>
          <mat-card-title >
            {{bedrift.data.name}}
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/testImageMatcard.jpg" alt="">

        <mat-card-content>
          <p>
            Info om restauranten. Kort og presis beskrivelse.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button color="primary"
                  mat-flat-button
                  [routerLink]="['/kategori', katId, 'bedrifter', bedrift.data.name]"
          >Se mer</button>
          <button mat-button></button>
        </mat-card-actions>

      </mat-card>
      <!--<mat-card class="restaurants">
        <mat-card-header>
          <mat-card-title>Restaurant</mat-card-title>
          <mat-card-subtitle>
            5<mat-icon>star</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/testImageMatcard.jpg" alt="">

        <mat-card-content>
          <p>
            Info om restauranten. Kort og presis beskrivelse.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button color="primary" mat-flat-button [routerLink]="['/restaurantView']">Se mer</button>
          <button mat-button></button>
        </mat-card-actions>

      </mat-card>
      <mat-card class="restaurants">
        <mat-card-header>
          <mat-card-title>Restaurant</mat-card-title>
          <mat-card-subtitle>
            5<mat-icon>star</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/testImageMatcard.jpg">

        <mat-card-content>
          <p>
            Info om restauranten. Kort og presis beskrivelse.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button color="primary" mat-flat-button [routerLink]="['/restaurantView']">Se mer</button>
          <button mat-button></button>
        </mat-card-actions>

      </mat-card>

      <mat-card class="restaurants">
        <mat-card-header>
          <mat-card-title>Restaurant</mat-card-title>
          <mat-card-subtitle>
            5<mat-icon>star</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/testImageMatcard.jpg">

        <mat-card-content>
          <p>
            Info om restauranten. Kort og presis beskrivelse.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button color="primary" mat-flat-button [routerLink]="['/restaurantView']">Se mer</button>
          <button mat-button></button>
        </mat-card-actions>

      </mat-card>-->
    </div>
  </div>
</div>

