<!-- Markus -->
<div class="content">
  <h2>Forslag til deg</h2>
    <div class="cards">
      <mat-card class="restaurants">
        <mat-card-header>
          <mat-card-title>Restaurant</mat-card-title>
          <mat-card-subtitle>
            5<mat-icon>star</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/testImageMatcard.jpg">

        <mat-card-content>
          <p>
            Info om restauranten. Kort og presis beskrivelse. Skal være dynamisk.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button color="primary" mat-flat-button>Se mer</button>
          <button mat-button></button>
        </mat-card-actions>

        </mat-card>
        <mat-card class="restaurants">
          <mat-card-header>
            <mat-card-title>Restaurant</mat-card-title>
            <mat-card-subtitle>
              5<mat-icon>star</mat-icon>
            </mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="assets/images/testImageMatcard.jpg">

          <mat-card-content>
            <p>
              Info om restauranten. Kort og presis beskrivelse.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button color="primary" mat-flat-button>Se mer</button>
            <button mat-button></button>
          </mat-card-actions>

        </mat-card>
        <mat-card class="restaurants">
          <mat-card-header>
            <mat-card-title>Restaurant</mat-card-title>
            <mat-card-subtitle>
              5<mat-icon>star</mat-icon>
            </mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="assets/images/testImageMatcard.jpg">

          <mat-card-content>
            <p>
              Info om restauranten. Kort og presis beskrivelse.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button color="primary" mat-flat-button>Se mer</button>
            <button mat-button></button>
          </mat-card-actions>

        </mat-card>
  </div>
</div>
