<h3>average rating</h3>
{{avgRating | async}}

<h3>Review</h3>
<div  class="" *ngFor="let stjerne of stjerner | async">
  {{stjerne.getBrukerId()}} gav {{stjerne.getBedriftId()}} {{stjerne.value}} stjerner
</div>

<fieldset class="rating">
  <ng-container *ngFor="let num of [5,4,3,2,1] ">
    <input
      (click)="stjerneHandler(num)"
      [id]="'star' + num"
      [value]="num"
      name ="rating"
      type="radio"
    />
    <label class="full" [for] ="'star' + num"></label>
    <input
      (click)="stjerneHandler(num)"
      [value]="num-0.5"
      [id] ="'halfstar' + num"
      name="rating"
      type="radio"
    />
    <label class="half" [for]="'halfstar'+num "></label>
  </ng-container>

</fieldset>
