<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Tilbakestille passord</h3>
  
        <p class="text-center">Vennligst skriv inn e-postadressen din for å tilbakestilling av passordet. </p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
      
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authaf.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Gå tilbake til ? <span class="redirect" routerLink="/login">Logg In</span></span>
      </div>
  
    </div>
  </div>